<div id="task-view" class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="display-4">Task - {{task.name}} - {{task.id}}</h1>
    <li class="lead"><b>EXECUTION ID: </b> {{task.executionId}}</li>
    <li class="lead"><b>ASSIGNEE: </b>{{task.assignee}}</li>
    <li class="lead"><b>PROCESS DEFINITION ID: </b>{{task.processDefinitionId}}</li>
    <hr class="my-4">
    <div class="lead row text-center">
      <div class="col-sm-4">
        <a class="btn btn-primary" [routerLink]="['']" role="button">
          <i class="fa fa-arrow-circle-left"></i> {{backButton}}
        </a>
      </div>
      <div class="col-sm-4">
        <button id="deploy-process" class="btn btn-danger" [routerLink]="['/deploy']">Deploy Process</button>
      </div>
      <div class="col-sm-4">
        <button id="complete-process" class="btn btn-success" (click)="completeTask()">Complete Process</button>
      </div>
    </div>
  </div>
</div>

