<div id="task-view" class="container">
  <table class="table">
    <tr>
      <th>Task Id</th>
      <th>Name</th>
      <th>Assignee</th>
      <th>Process Instance Id</th>
      <th>Process Definition Id</th>
      <th>Execution Id</th>
    </tr>
    <tr *ngFor="let task of task">
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>{{task.assignee}}</td>
      <td>{{task.processInstanceId}}</td>
      <td>{{task.processDefinitionId}}</td>
      <td>{{task.executionId}}</td>
    </tr>
  </table>
</div>
