<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Simple {{title}}!
  </h1>
  <img width="300" src="../assets/images/activiti-logo.png">
</div>
<div id="action-buttons">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <button id="deploy-process" class="btn btn-default">Deploy Process</button>
      </div>
      <div class="col-sm-3">
        <button id="start-process" class="btn btn-default">Start Process</button>
      </div>
      <div class="col-sm-3">
        <button id="find-process" class="btn btn-default">Find Process</button>
      </div>
      <div class="col-sm-3">
        <button id="complete-process" class="btn btn-default">Complete Process</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    DISPLAY HERE...
  </div>
</div>
