<div class="container-fluid">
  <div id="task-view" class="">
    <table class="table table-bordered table-hover table-responsive-sm">
      <tr class="danger">
        <th>Deployment Id</th>
        <th>Deployment Process Name</th>
        <th>Deployement Time</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let deployment of deployments">
        <td>{{deployment.getId}}</td>
        <td>{{deployment.getName}}</td>
        <td>{{deployment.getDeploymentTime}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteDeployedProcess(deployment.getId)">DELETE</button>
        </td>
      </tr>
    </table>
  </div>
</div>
